@import '~bootstrap/dist/css/bootstrap.css';
@import './sass/header.scss';

@font-face {
  font-family: 'Montserrat-regular';
  src: url('./assets/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('./assets/fonts/montserrat/Montserrat-Regular.woff') format('woff');
}

html {
  font-family: "Montserrat-regular", sans-serif, Arial;
}
