@import '~normalize.css/normalize.css';
@import './sass/avatar.scss';
@import './sass/artist-card.scss';
@import './sass/book-card.scss';
@import './sass/header.scss';
@import './sass/books-view.scss';
@import './sass/book-detail.scss';
@import './sass/register-view.scss';
@import './sass/post.scss';

$site-bg-color: navy;

@font-face {
  font-family: 'Montserrat-regular';
  src: url('./assets/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('./assets/fonts/montserrat/Montserrat-Regular.woff') format('woff');
}

html {
  font-family: "Montserrat-regular", sans-serif, Arial;
}

.error {
  color: red;
  border: 1px solid;
  padding: 20px;
  border-radius: 4px;
}
