@import '~normalize.css/normalize.css';
@import './sass/avatar.scss';
@import './sass/artist-card.scss';

$site-bg-color: navy;

@font-face {
  font-family: 'Montserrat-regular';
  src: url('./assets/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('./assets/fonts/montserrat/Montserrat-Regular.woff') format('woff');
}

html {
  font-family: "Montserrat-regular", sans-serif, Arial;
}
