.avatar {
  max-width: 200px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #000;
  padding: 10px;

  h4 {
    margin: 0;
  }

  img {
    margin-right: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    height: 50px;
  }
}
